@charset "UTF-8";
.NumberButton{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.NumberButton:hover{
    background-color: #aaa;
    border-color: #ccc;
    color: #fff;
}
.NumberButton:active{
    background-color: #aaa;
    border-color: #000000;
    color: #fff;
}

.ClearButton{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: yellow;
}
/* .SymbolButton{
    display: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.SymbolButton input[type="radio"]{
    position: absolute;
}
.SymbolButton label{
    display: inline-block;
    border: 1px solid #000000;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.SymbolButton:hover{
    background-color: #aaa;
    border-color: #ccc;
    color: #fff;
}
.SymbolButton[aria-pressed="true"]{
    background-color: #aaa;
    border-color: #000000;
    color: #fff;
} */

.radio-a{
    display: flex;
    justify-content: center;
    margin-block: 50px;
    gap: 10px;
  }
  .radio-a input[type="radio"]{
    position: absolute;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
  }
  .radio-a label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-color: #ddd;
    border: 3px solid #ddd;
    color: #fff;
    aspect-ratio: 1 / 1;
    width: 80px;
    cursor: pointer;
    transition: .3s;
  }
  .radio-a input[type="radio"]:checked + label{
    background-color: #f9920c;
    border-color: #f9920c;
    cursor: default;
  }
  @media (hover: hover){
    .radio-a li:hover label{
      border-color: #f9920c;
    }
  }
input[type="text"]{
    width: 300px;
    height: 60px;
    font-size: 36px;
    text-align: right;
    border-color: #000;
    background-color: #fff;
}